body {
  margin: 0;
  font-family: monospace;
  font-size: xx-large;
  color: #fff;
  background: #000;
}

canvas#spectrogram {
  z-index: 0;
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: #000;
}

#mover {
  z-index: 2;
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: transparent;
}

canvas#overlay {
  z-index: 3;
  position: fixed;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: transparent;
}

canvas#volumes {
  position: fixed;
  left: 95%;
  top: 5%;
  width: 5%;
  height: 90%;
  background: #000;
}

canvas#spectrum {
  position: fixed;
  left: 0;
  top: 5%;
  width: 5%;
  height: 90%;
  background: #000;
}

canvas#timeline {
  position: fixed;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 5%;
  background: #000;
}

canvas#timespan {
  position: fixed;
  left: 5%;
  top: 0;
  width: 90%;
  height: 5%;
  background: #000;
}

#middle {
  z-index: 4;
  position: fixed;
  width: 100%;
  top: 50%;
  text-align: center;
}

#status {
  background: #448;
  padding: 0.25em;
}

#buttons {
  z-index: 5;
  position: fixed;
  top: 5%;
  left: 5%;
}

button {
  font-size: xx-large;
  padding: 0.5em;
  color: #080;
  border: 3px solid #080;
  background: #000;
  cursor: pointer;
  user-select: none;
}

button:focus {
  outline: none;
}

button.disabled {
  border-color: #888;
  color: #888;
}

html > body > .dg.ac {
  z-index: 4;
}
