body {
  margin: 0;
  font-family: monospace;
  font-size: xxx-large;
  color: #fff;
  background: #000;
}

#mover {
  z-index: 2;
}

canvas#overlay {
  z-index: 3;
}

#spectrogram, #mover, #overlay {
  left: 5%;
  top: 0;
  width: 95%;
  height: 95%;
  position: fixed;
  background: transparent;
}

canvas#ampdensity {
  display: none;
  left: 0;
  top: 0;
  width: 5%;
  height: 95%;
  position: fixed;
  background: #000;
}

canvas#spectrum {
  left: 0;
  top: 0;
  width: 5%;
  height: 95%;
  position: fixed;
  background: #000;
}

canvas#timeline {
  left: 5%;
  bottom: 0;
  width: 95%;
  height: 5%;
  position: fixed;
  background: #000;
}

canvas#timespan {
  display: none;
  left: 5%;
  bottom: 0;
  width: 95%;
  height: 5%;
  position: fixed;
  background: #000;
}

#middle {
  z-index: 4;
  position: fixed;
  width: 100%;
  top: 50%;
  text-align: center;
}

#status {
  background: #448;
  padding: 0.25em;
}

#buttons {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.5em;
  user-select: none;
}

@media (orientation: portrait) {
  #buttons {
    width: 2em;
  }
}

button {
  width: 2em;
  height: 2em;
  margin-bottom: 0.5em;
  font-size: xxx-large;
  color: #000;
  background: #420;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

button:focus {
  outline: none;
}

button.selected {
  outline: 2px solid #0f0;
}

button.disabled {
  background: #888;
}

html > body > .dg.ac {
  z-index: 4;
}
