body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  font-size: xxx-large;
  color: #fff;
  background: #000;
}

#spectrogram, #mover, #overlay, #sarea_buttons {
  left: 5%;
  top: 0;
  width: 95%;
  height: 95%;
  position: fixed;
  background: transparent;
}

#mover {
  z-index: 2;
  position: relative;
}

#sarea, #vline {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid #080;
  visibility: hidden;
}

#sarea_buttons button {
  font-size: 0.75em;
}

#sarea_buttons {
  z-index: 5;
  width: auto;
  height: auto;
  gap: 0.1em;
  transform: translate(-1em, -1em);
  display: none;
}

#sarea_buttons.final {
  display: flex;
}

#point, #hztag {
  position: absolute;
  visibility: hidden;
}

#point {
  border: 0.2em solid #0f0;
  border-radius: 0.2em;
  transform: translate(-50%, -50%);
}

#hztag {
  background: #000;
  color: #0f0;
  outline: 2px solid #0f0;
  padding: 0.5em;
  font-size: 0.4em;
  white-space: nowrap;
}

#overlay {
  z-index: 3;
}

canvas#ampdensity {
  display: none;
  left: 0;
  top: 0;
  width: 5%;
  height: 95%;
  position: fixed;
  background: #000;
}

canvas#spectrum {
  left: 0;
  top: 0;
  width: 5%;
  height: 95%;
  position: fixed;
  background: #000;
}

canvas#timeline {
  left: 5%;
  bottom: 0;
  width: 95%;
  height: 5%;
  position: fixed;
  background: #000;
}

canvas#timespan {
  display: none;
  left: 5%;
  bottom: 0;
  width: 95%;
  height: 5%;
  position: fixed;
  background: #000;
}

#buttons {
  z-index: 5;
  position: fixed;
  left: 5%;
  top: 0;
  padding: 0.1em;
  display: flex;
  gap: 0.25em;
}

#buttons button {
  font-size: xxx-large;
}

@media (orientation: landscape) {
  #buttons button {
    font-size: xx-large;
  }

  body {
    font-size: xx-large;
  }
}

button {
  color: #080;
  background: #000;
  border: 1px solid #0f0;
  width: 2em;
  height: 2em;
  border-width: 2px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border-color: #0f0;
  color: #0f0;
}

button span:last-child {
  display: block;
  font-size: 0.3em;
  color: #0f0;
}

button:focus {
  outline: none;
}

button.selected {
  border-color: #0f0;
  color: #0f0;
}

button.disabled {
  background: #888;
}

html>body>.dg.ac {
  z-index: 4;
  _transform: scale(2) translate(-25%);
}